body{
    font-family: 'Kanit', sans-serif;
    margin: 0px;
}
h1{
    font-size: 40px;
}
.color{
    color: darkorange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 10%;
}
.half-width img{
    width: 120%;
}
.button{
    text-decoration: none;
    color: aliceblue;
    background-color: hwb(0 32% 20%);
    padding: 10px 30px;
    border-radius: 6px;
    font-weight: 15px;
    background-image: linear-gradient(rgb(204, 149, 152),hwb(0 32% 15%));
}
#change-color{
    color: grey;
}
.top-image{
    background-image: url(bg_image/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(bg_image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}